<nav>
	<div class="nav-wrapper">
		<a href="/" class="brand-logo">express-app</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">

			{{#if isHome}}
			<li class="active"><a href="/">home</a></li>
			{{else}}
			<li><a href="/">home</a></li>
			{{/if}}

			{{#if isCustomers}}
			<li class="active"><a href="/customers">customers</a></li>
			{{else}}
			<li><a href="/customers">customers</a></li>
			{{/if}}

			{{#if isAbout}}
			<li class="active"><a href="/about">about</a></li>
			{{else}}
			<li><a href="/about">about</a></li>
			{{/if}}

			{{#if isAddCustomer}}
			<li class="active"><a href="/add-customer">add-customer</a></li>
			{{else}}
			<li><a href="/add-customer">add-customer</a></li>
			{{/if}}

		</ul>
	</div>
</nav>