<div class="customer">
	<h1 class="customer__name">{{name}}</h1>
	<h2 class="customer__phone">{{phone}}</h2>
	<h3 class="customer__email">{{email}}</h3>
	<p class="customer__text">{{text}}</p>
</div>